.list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 0.6rem;
  overflow-y: auto;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
  color: var(--secondary-color);
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.6rem;
}
