.item-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(71, 61, 123, 0.1) 0px 4px 12px;
    background: var(--white);
    color: #717171;

    &.selected {
        border: 2px solid var(--primary-colour);
        font-weight: bold;
        color: var(--primary-colour);
    }

    &:hover .item-content {
        opacity: 0.3;
    }

    &:hover .edit-button {
        display: block;
    }
}

.item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: capitalize;
    transition: opacity 0.6s ease;
}

.edit-button {
    display: none;
    position: absolute;
    align-items: center;
    right: 2%;
    transition: opacity 0.6s ease;
    gap: 1rem;
}
